<h2>Hello {{name}},</h2>
<p>Thank you for signing up on the web platform for Mortgage Brokers.
Please see below your credentials to log in to the application.s</p>
<table id="table" class="ui table segment">
    <tbody>
        <tr><td>Username</td><td>{{username}}</td></tr>
        <tr><td>User ID</td><td>{{user_id}}</td></tr>
        <tr><td>Password</td><td>{{password}}</td></tr>
    </tbody>
 </table>

<p>
We're excited to embark on this journey with you and witness your continued success in the real estate industry. 
At Imperial Homes Mortgage Bank, we're committed to being your trusted partner, providing you with the support you need to thrive.
Should you have any feedback or suggestions, we're always eager to hear from you. Together, let's revolutionize how real estate professionals do business!

<h3>Happy Exploring!</h3>
</p>
<!-- 3rd js library -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.3.0.js"></script>

<!-- template -->
<script id="table-template" type="text/x-handlebars-template">


</script>





