<h2>Hello {{name}},</h2>
<p>You have been given admin access to the mortgage broker application
Please see below your credentials to log in to the application.</p>
<table id="table" class="ui table segment">
    <tbody>
        <tr><td>email</td><td>{{email}}</td></tr>
        <tr><td>Password</td><td>{{password}}</td></tr>
    </tbody>
 </table>

<p>

<!-- 3rd js library -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.3.0.js"></script>

<!-- template -->
<script id="table-template" type="text/x-handlebars-template">


</script>





