<h2>Hi {{name}},</h2>
<p>Welcome to <b>Mortgage Broker</b> platform</p>
<p>Below are your Sign In credentials</p>
<table id="table" class="ui table segment">
    <tbody>
        <tr><td>Username</td><td>{{username}}</td></tr>
        <tr><td>User ID</td><td>{{user_id}}</td></tr>
        <tr><td>Password</td><td>{{password}}</td></tr>
    </tbody>
 </table>



<!-- 3rd js library -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.3.0.js"></script>

<!-- template -->
<script id="table-template" type="text/x-handlebars-template">


</script>
