<h2>Hi Customer care,</h2>
<p>You have a support mail from a client on the Mortgage broker application<b>{{name}}</b> with id:<b> {{user_id}} </b> </p>
<h2>Message</h2>
<article>
    {{message}}
</article>


<!-- 3rd js library -->
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.3.0.js"></script>

<!-- template -->
<script id="table-template" type="text/x-handlebars-template">


</script>
